.htaccess
/db_data
*.log
.env
.idea
.ssh/*
/html/wp-admin/
/html/wp-includes/
/html/wp-content/languages/
/html/wp-content/uploads/
/html/wp-content/upgrade/
/html/*.php
/html/*.txt
/html/*.html
/html/wp-content/themes/*
!/html/wp-content/themes/seven-eleven-design-system
/html/wp-content/plugins/*
!/html/wp-content/plugins/acf-repeater
!/html/wp-content/plugins/seven-eleven-block
!.gitkeep
*.sql
*.sql.gz
.vscode
