# プロジェクト名（Dockerコンテナ名）
PROJECT_NAME=project_name
# LOCAL WP ディレクトリ
WP_DIR=/
# LOCAL HTMLディレクトリ
LOCAL_DIR=./html
# LOCAL PORT
LOCAL_SERVER_PORT=80
# WPコンテナタグ（デフォルトはlatest)
DOCKER_WORDPRESS_TAG=5.9-php7.4-apache
# データベースprefix
WORDPRESS_TABLE_PREFIX=wp_
# -------------------------------------------
# ステージング環境設定
# -------------------------------------------
# SSH KEY
STAGING_SSH_KEY_PATH=./.ssh/
# URL
STAGING_URL=
# WordPressのディレクトリの絶対パス
STAGING_DIR_PATH=
# DB名
STAGING_DB_NAME=
# DBのユーザー名
STAGING_DB_USER=
# DBのパスワード
STAGING_DB_PASSWORD=
# DBのホスト名
STAGING_DB_HOST=
# DBの接続ポート
STAGING_DB_PORT=3306
# SSHホスト名
STAGING_SSH_HOST=
# SSHユーザー名
STAGING_SSH_USER=
# SSHポート名
STAGING_SSH_PORT=
# -------------------------------------------
# 本番環境設定
# -------------------------------------------
# SSH KEY
PRODUCTION_SSH_KEY_PATH=./.ssh/
# URL
PRODUCTION_URL=
# WordPressのディレクトリの絶対パス
PRODUCTION_DIR_PATH=
# DB名
PRODUCTION_DB_NAME=
# DBのユーザー名
PRODUCTION_DB_USER=
# DBのパスワード
PRODUCTION_DB_PASSWORD=
# DBのホスト名
PRODUCTION_DB_HOST=
# DBの接続ポート
PRODUCTION_DB_PORT=
# SSHホスト名
PRODUCTION_SSH_HOST=
# SSHユーザー名
PRODUCTION_SSH_USER=
# SSHポート名
PRODUCTION_SSH_PORT=

